@{
    ViewData["Title"] = "بڕوانامەکان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-RowTow" style="width:80vw;">
    <div style="min-height:10vh; align-content:center; ">

        <p>ماستەر شیت</p>
    </div>
    <div style="min-height:10vh; align-content:center; ">

        <p>یەکەمەکان</p>
    </div>
    <div style="min-height:10vh; align-content:center; ">

        <p>دەرچووانی ئەمساڵ</p>
    </div>
    <div style="min-height:10vh; align-content:center; ">

        <p>کۆنمرە</p>
    </div>
    <div style="min-height:10vh; align-content:center; ">
        <p>بروانامە تەواو بوەکان</p>
    </div>
    <div  style="min-height:10vh; align-content:center; ">

        <p>پشتگیریەکان</p>
    </div>
</div>

