
.CerBody {
    font-family: 'Droid Arabic Kufi', sans-serif;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 70vh; /* 100% of the viewport height */
    margin: 0;
    width: 100%; /* 100% of the viewport width */
    border-radius: 10px;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    transition: transform 0.3s ease;
    cursor: pointer;
}

    .card:hover {
        transform: translateY(-10px);
        background-color: #008374;
        color: white;
    }
