body {
}

header {
    background-color: #008374;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: auto 70% 15%;
    max-height: 100px;
}

/*#region Logo */

.LogoSide {
    display: flex;
    gap: 10px; /* Add space between logo and text */
    padding: 10px; /* Add padding to content */
    align-items: center; /* Vertically align logo and text */
    width: fit-content; /* Let logo side adjust to its content width */
    flex-shrink: 0; /* Prevent logo side from shrinking */
}

    .LogoSide div {
        display: block;
    }

        .LogoSide div h4, p {
            margin: 0;
            padding: 0;
        }

.NavLogo {
    width: 22%; /* Adjust logo width as needed */
    height: auto; /* Maintain aspect ratio */
}

.TitleSide {
    margin-left: 10px; /* Space between logo and title */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; /* Text color for contrast */
}

    .TitleSide p {
        margin: 0;
        padding: 0;
    }


/*#endregion */

ul.centerSide {
    display: flex;
    justify-content: center; /* Center navigation links horizontally */
    align-items: center; /* Align navigation links vertically */
    flex-grow: 1; /* Allow center side to fill remaining space */
}


.logOutSide {
    text-align: center;
    align-content: center;
}
/*#region Animate */
.nav-nav {
    list-style: none;
    padding-left: 0;
}

.nav-li {
    display: inline-block;
}

.nav-link {
    position: relative;
    color: white !important;
    text-decoration: none;
    padding: 10px 15px;
}

    .nav-link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: white;
        transition: all 0.2s ease-out;
        transform: translateX(-50%);
    }

    .nav-link:hover::before {
        width: 100%;
        left: 0;
        transform: translateX(0);
    }

 
.li2:hover::after {
    width: 100%; /* Expand the underline to full width */
    left: 0; /* Move the starting point to the left */
}


a {
    color: white;
    text-decoration: none;
}
/*#endregion */

.topnav {
    display: none;
}


@media(max-width:1733px) {
    nav {
        display: grid;
        grid-template-columns: auto 65% 15%;
        max-height: 100px;
    }
}



@media(max-width:1306px) {
    nav {
        display: grid;
        grid-template-columns: auto 60% 17%;
        max-height: 100px;
    }
}


@media(max-width:1131px) {
    nav {
        display: grid;
        grid-template-columns: auto 55% 17%;
        max-height: 100px;
    }
}


@media(max-width:1050px) {
    nav {
        display: grid;
        grid-template-columns: auto 70% 20%;
        max-height: 100px;
    }

    .LogoSide div {
        display: none;
    }

    .LogoSide img {
        width: 80%;
    }
}

@media(max-width:1050px) {
    nav {
        display: grid;
        grid-template-columns: auto 70% 22%;
        max-height: 100px;
    }
}

@media (max-width: 825px) {
    .WideNav {
        display: none;
    }

    header {
    }

    .topnav {
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-height: 100%;
        transition: height 0.6s ease-in-out;
    }

    .active {
        display: grid;
        grid-template-columns:10% auto auto;
        justify-content: space-between;
        padding:10px;
    }

    .burger {
        flex: 1;
        background-color: transparent;
        border:none;
        color:white;
        font-size:1.8rem;
    }

    .LogoSide {
        flex: 1;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .mobUser {
        flex: 1;
        justify-content:center;
        align-items:center;
        align-content:center;
        text-align:center;
    }
    .mobUser2{
        display:none;
    }
    .nav-items {
        display: none;
        flex-direction: column;
        transition: max-height 0.3s ease-in-out;
    }

        .nav-items.responsive {
            display: flex;
        }

    .LogoSide img {
        width: 130%;
    }

    .responsive {
        display: flex;
        flex-direction: row;
        height: auto;
        text-align:center;
        justify-content:center;
        align-content:center;
        align-items:center;
        gap:5vh;
        padding-bottom:10px;
    }
}


@media (max-width: 475px) {
    .WideNav {
        display: none;
    }

    header {
    }

    .topnav {
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-height: 100%;
        transition: height 0.6s ease-in-out;
    }

    .active {
        display: grid;  
    }

    .burger {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.8rem;
    }

    .LogoSide {
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .mobUser {
      display:none;
    }
    .mobUser2{
        display:flex;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        transition: max-height 0.3s ease-in-out;
    }

        .nav-items.responsive {
            display: flex;
        }

    .LogoSide img {
        width: 130%;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        gap: 2vh;
        padding-bottom: 10px;
        padding:10px;
    }
}
