body {
}

header {
    background-color: #008374;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}


.nav-nav {
    list-style: none; /* Remove default list dots */
    padding-left: 0; /* Remove default padding */
}

.nav-li {
    display: inline-block;
}

.nav-link {
    position: relative;
    color: white !important;
    text-decoration: none;
    padding: 10px 15px;
}

    /* Create the sliding underline using a pseudo-element */
    .nav-link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: white; /* The underline color */
        transition: all 0.2s ease-out; /* Animation timing */
        transform: translateX(-50%);
    }

    /* On hover, animate the underline */
    .nav-link:hover::before {
        width: 100%;
        left: 0;
        transform: translateX(0);
    }


.NavCenter {
    padding-top: 10px;
    text-align: center;
}
.NavLogo {
    width:20%;
    transition: transform 0.5s ease; /* Smooth transition on hover */
}
.ActionSide .NavLogo:hover {
    transform: scaleX(-1); /* Flips the image horizontally on hover */
}
.NavLogo {
    width: 15%;
}

.NavRight {
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}

.NavLeft {
    display: flex;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
}

    .NavLeft a {
        color: white;
        text-decoration: none;
    }

.BottomSpan {
    font-size: 13px;s
    margin-top: -2vh;
}

.li a {
    position: relative;
    transition: 1s;
}

.li2 a::after {
    content: '';
    position: absolute;
    left: 50%; /* Start from the center */
    bottom: 0; /* Position at the bottom of the link */
    width: 0; /* Initially no width */
    height: 2px; /* Height of the underline */
    background-color: #008374; /* Underline color */
    transition: width 0.4s ease, left 0.4s ease; /* Animation for width and position */
}
.li2:hover::after {
    width: 100%; /* Expand the underline to full width */
    left: 0; /* Move the starting point to the left */
}
.li3 a {
}

.NavTxt p {
    margin: 0;
    padding: 0;
}