
@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: normal;
    font-style: normal;
}



div {
    text-align: right;
}

.a4-paper {
    width: 210mm;
    height: 297mm;
    box-sizing: border-box;
    font-family: 'Droid Arabic Kufi';
    position: relative;
    font-family: 'Droid Arabic Kufi';
}

    .a4-paper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 700px 700px; /* Adjust size if needed */
        opacity: 0.07; /* Adjust opacity for better readability */
        z-index: -1;
    }

.SectionBg {
    position: relative;
}

    .SectionBg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 600px 600px; /* Adjust size if needed */
        opacity: 0.07; /* Adjust opacity for better readability */
        z-index: -1;
    }

.Header {
    width: 100%;
    height: 6vh;
    background-color: #008374;
    color: white;
}

.Centered-Child {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    text-align: center;
}

.CornerRadius {
    border-radius: 10px;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #B4DBD6;
    border: none;
    margin-top: -2vh;
}

.OneRowSixColumn {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    direction: rtl;
}

.OneRowFourColumn {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    direction: rtl;
}

.TowRowOneColum {
    display: flex;
    flex-direction: column;
}

.PropertyLabel {
    color: #008374;
}

.ImageParent {
    height: 14vh;
    min-width: 14vh;
}

.PersonalImage {
    border: solid 1px #008374;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}


.TowRowOneColum p,
.TowRowOneColum h4 {
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove any padding, just in case */
}

.TowRowOneColum p {
    margin-bottom: 5px; /* Add a small space between the elements, if needed */
}

.TowRowOneColum h4 {
    margin-top: 0; /* Ensure no extra space above the h4 */
}

.ParentDiv {
    display: grid;
    grid-template-columns: 1fr 20%;
    direction: rtl;
}

.CardInfoParent {
    width: 100%;
    height: 100%;
}

.CardInfoimg {
    border: solid 1px #008374;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}



.content {
}

.table-container {
}



table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    position: sticky;
    top: 0%;
    z-index: 1;
}

    thead th.TblHeader {
        background-color: #E9E9E9;
        padding: 10px;
        position: relative;
        color: #008374;
        min-width: 200px;
        font-weight: bold;
        text-align: center;
    }

.FirstColumn {
    color: #008374;
    background-color: #E9E9E9;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.lastColumn {
    color: #008374;
    background-color: #E9E9E9;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

tbody {
    max-height: 10vh;
    border-radius: 10px;
    min-height: 100px;
}

    tbody td {
        padding: 10px;
    }
        tbody td.DgColumn {
            text-align: center;
            
        }

        tbody td:last-child {
            text-align: center;
        }



.SubActions {
    color: black;
    text-decoration: none;
}

    .SubActions:hover {
        text-decoration: underline;
    }


.r1 {
    background-color: white;
}

.RowOneColumnOne {
    border-top-right-radius: 10px;
}

.RowOneColumnLast {
    border-top-left-radius: 10px;
}

.LastRowColumnOne {
    border-bottom-right-radius: 10px;
}

.LogoParent {
    height: 100%;
    display: flex;
    text-align: center;
    margin-left: 10px;
}

.LogoImg {
    width: 100%;
    height: auto;
    margin: 4px;
}

.imagecontainer {
    display: flex;
}

.image-item {
    width: 10%; /* 5 items, 20% width each with space for margin */
    margin: 0 5px; /* Adds horizontal space between divs */
    text-align: center; /* Centers the text and image inside the div */
}

    .image-item img {
        width: 20%; /* Ensures the image takes up the full width of the parent div */
        height: auto; /* Maintain aspect ratio */
    }
