html {
  font-size: 14px;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        direction: rtl;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    direction: rtl;
    font-family: 'Droid Arabic Kufi';
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh; 
    border:none;
}

navCenter {
    display: flex;
    justify-content: center;
}
.NavTitle {
    width: 50%;
}
.NavLogo {
    margin-right:5%;
    height: auto;
    width: 3%;
}
.NavCenter {
    margin-right: -8%;
}

.finner {
margin-top:1%;
}