html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        direction: rtl;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-bottom: 60px;
    direction: rtl;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finner {
    border-radius: 10px;
    padding: 5px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.RightSide {
    background: red;
    text-align: center;
}

.LeftSide {
    text-align: left;
}


.container {
    max-width: 180vh; /* Max width (though typically max-width is set in pixels or percentage) */
    margin: 0 auto; /* Center the container itself horizontally */
    display: flex; /* Use Flexbox */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    width: 100%;
}

.Segoe {
    font-family: 'Segoe MDL2 Assets';
}
