
.StaticSearchBar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 95vw;
    margin: 0 auto;
    margin-block: 10px;
    max-height: 13vh;
    justify-content:center;
}

.Static-ColOne {
    background-color: rgba(233, 233, 233, 0.7);
    border-radius: 10px;
    display: flex;
    width: auto;
    padding: 10px;
    gap: 10px;
    text-align:center;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.Span2 {
    grid-column: span 2;
}
.StaticalNameTXT {
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
    border: solid 2px;
    border-color: transparent;
    font-family: 'Droid Arabic Kufi';
    transition: 0.2s;
}

.Static-ColOne .StaticalNameTXT:hover {
    transition: 0.1s;
    border: solid #37B7AF 2px;
}

.Static-ColTow {
    display: flex;
    flex-direction:row;
}

    .Static-ColTow button {
        color: #008374;
        border: none;
        background-color: transparent;
        padding: 5px;
        border-radius: 10px;
        direction: rtl;
        font-family: 'Segoe MDL2 Assets', sans-serif;
        border: none;
        font-size: 25.5px;
        transition: 0.2s ease; /* Smooth transition on width change */
    }

        .Static-ColTow button:hover {
            transition: 0.2s;
            font-weight: bolder;
            font-size: 27.5px;
        }

.HeaderFilter {
    color: #008374;
    border: none;
    background-color: transparent;
    font-family: 'Droid Arabic Kufi',sans-serif;
    text-align:center;
}