
.ThreeColumnOnerow {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}
.OneFrame {
    display: inline-block;
}
    .OneFrame p,
    .OneFrame h5 {
        margin: 0;
        padding: 0;
        text-align:right;
    }

    .TowRowOneColumn-Column  {
        display: grid;
        grid-template-rows: auto auto;
        gap: 15px;
        justify-content:center;
    }

.spHeader {
    background-color: #E9E9E9;
    padding: 10px;
    position: relative;
    color: #008374;
    min-width: 400px;
    font-weight: bold;
    text-align: center;
}
   

