

.pivot-container {
    margin: 0 auto;
    width: 85vw;
    margin-block: 10px;
    max-height: 78vh;
}

.pivot-nav {
    display: flex;
    background-color: #E9E9E9;
    border-bottom: none;
    border-radius: 10px;
    padding-block: 5px;
    gap: calc(10px + 2vw); /* Adjusts based on viewport width */
}

.pivot-tab {
    padding: 5px;
    text-decoration: none;
    color: #008374;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: clamp(0.5rem, 1vw, 1rem);
}
.form-group label, input, select {
    font-size: clamp(0.5rem, 1vw, 1rem);
}
.pivot-tab:hover {
    background-color: #bbb;
}

.ActiveBG {
    background-color: #008374;
    color: white;
}

.pivot-tab.disabled {
    opacity: 0.5;
    pointer-events: none;
}



.pivot-tab:hover {
    background-color: #bbb;
}

.pivot-tab.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pivot-content {
    position: relative;
    display: none;
    padding-inline: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #B4DBD6;
    border-radius: 10px;
    min-height: 55vh;
}

    .pivot-content.active {
        display: block;
    }

.TitleHeader {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    flex-direction: row;
    gap: 20px;
    direction: ltr;
}

    .TitleHeader > :first-child::after {
        content: " ~ ";
        padding-left: 10px;
    }

.ActionTitle {
    text-align: center;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-wrap: wrap;
    gap: 10px;
}

@media  (max-width:1280px) {
    .pivot-container {
        margin: 0 auto;
        width: 95vw;
        margin-block: 10px;
        max-height: 78vh;
    }

    .form-container {
        display: grid;
        /*grid-template-columns: repeat(3,1fr);*/
        grid-template-columns: repeat(auto-fill, minmax(250px, 200px));
        max-height: 60vh;
        justify-content:center;
        overflow-y: auto;
        gap: 10px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.form-control {
    border: solid rgba(0, 131, 116, 0.5) 2px;
    padding: 4px;
    border-radius: 5px;
    font-family: 'Droid Arabic Kufi';
}



.formcol {
    display: flex;
    flex: 1 1 calc(50% - 15px);
    gap: 15px;
}
.vformcol {
    display: flex;
    flex-direction:column;
}
.control-label {
    font-size: 14px;
}



.Title {
    margin-top: 10px;
    text-align: center;
}

.SubActions {
    text-decoration: none;
    color: black;
}

.btn {
    position: absolute;
    left: 50%;
    background-color: transparent;
    color: black;
    border: none;
    margin-top: 1%;
}



.FormsActionbttn {
    display: flex;
    justify-content: left;
    position: absolute; /* Ensures positioning is relative to its container */
    margin-left: 4%;
    margin-bottom: 2%;
    bottom: 0; /* Sticks the button to the bottom */
    left: 0;
}

    .FormsActionbttn button:hover {
        background: #008374;
        color: white;
        transition: 0.3s;
    }

    .FormsActionbttn button:active {
        font-size: 18px;
        transition: 1s;
    }

.SaveStudentBttn {
    padding-inline: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Droid Arabic Kufi';
    transition: 1s;
}



.ColumnForm {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    gap: 15px;
}



#InvoiceDiv .form-group {
    margin: 0;
}

.drop {
    height: 60px;
}

.fwidthElement {
    width: 100%;
    box-sizing: border-box;
}

.icon {
    font-family: 'Segoe MDL2 Assets';
    font-size: 24px;
    transition: 0.2s;
}

    .icon:hover {
        transition: 0.1s;
        font-size: 26px;
        color: #008374;
    }




/* Custom button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: solid dodgerblue 1px;
    width: 20%;
    vertical-align: baseline;
}

.hidden {
    display: none;
}
