.table-container {
    overflow-y:auto;
    height:68vh;
}

table {
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
}

thead {
    position: sticky;
    top: 0%;
    z-index: 1;
}


th, td {
    padding-block: 5px; 
    text-align: center;  
    font-size:clamp(0.5rem,1vw,1rem);
}
    thead th {
        background-color: #E9E9E9;
        color: #008374;
        font-weight: bold;
    }
     
    tbody tr:nth-child(odd) {
        background-color: rgba(0, 131, 116, 0.1); 
    }

    tbody tr {
        transition: 0.3s;
    }

        tbody tr:hover {
            background-color: #008374; 
            color: white;
            transition: 0.3s;
        }



.SubActions {
    color: black;
    text-decoration: none;
}

    .SubActions:hover {
        text-decoration: underline;
    }


.r1 {
    background-color: #f3f4f6;
}


.ActionContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
}




.DgActionBttn {
    background: white;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    text-decoration: none;
    color: #008374;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



