@{
    ViewData["Title"] = "400 Bad Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
        min-width: 20vh;
    }

    .content {
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    h1 {
        margin-top: 40%;
        margin-bottom: -8%;
        color: #008374;
        direction: ltr;
    }
</style>
<div class="container">
    <div class="content">
        <h1>400 Bad Request</h1>
        <h3>داواکاریەکەت رەتکرایەوە</h3>
    </div>
</div>
