@using System.Security.Claims;


@foreach (var item in GPU.Helpers.DbConnectionHelper.Infos.Where(x => x.UserId.ToString() == User.FindFirst(ClaimTypes.NameIdentifier)?.Value && x.CountDown < 3))
{
    if (!item.isLoginFailure)
    {

        if (item.isSuccess)
        {
            <div class="infobar success">
                <div class="circle success">
                    <span class="circle">&#xE8FB;</span>
                </div>
                <h4 style="color:white;">
                    کردارەکە سەرکەوتوو بوو
                </h4>
            </div>
        }
        else
        {
            <div class="infobar error">
                <div class="circle error">
                    <span class="warning">&#xE711;</span>
                </div>
                <h4 style="color:white;">
                    کێشەیەک ڕوویدا نەتوانرا کردەکە ئەنجام بدرێت
                </h4>
            </div>
        }
    }
    else
    {
        <div class="infobar error">
            <div class="circle error">
                <span class="warning">&#xE711;</span>
            </div>
            <h4 style="color:white;">
                بەکارهێنەر یان وشەی تێپەڕ هەڵەیە
            </h4>
        </div>
    }
}
<script type="text/javascript">
    setTimeout(function () {
        var infobar = document.querySelector('.infobar');
        if (infobar) {
            infobar.style.display = 'none';
        }
    }, 3000);  // 3000 milliseconds = 3 seconds
</script>


